* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.landingBackground {
  background: black;
  height: 100vh;
  width: 100vw;
}


.landingTitle {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: #fff;
}


.homeButton {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 50px;
  font-family: "Quantico", sans-serif;
  cursor: pointer;
  color: #fff;
  width: 60px;
  height: 20px;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 60px;
  z-index: 1;
}

.homeButton:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.homeButton:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.homeButton:hover::before {
  filter: blur(20px);
}

.homeButton:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}