
.modal {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

button {
 align-items: center;
 background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
 border: 0;
 border-radius: 8px;
 box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
 box-sizing: border-box;
 color: #FFFFFF;
 display: flex;
 font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
 font-size: 30px;
 justify-content: center;
 line-height: 1em;
 max-width: 100%;
 min-width: 140px;
 padding: 3px;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 cursor: pointer;
 transition: all .3s;
}

button:active,
button:hover {
 outline: 0;
}

button span {
 background-color: rgb(5, 6, 45);
 padding: 16px 24px;
 border-radius: 6px;
 width: 100%;
 height: 100%;
 transition: 300ms;
}

button:hover span {
 background: none;
}

button:active {
 transform: scale(0.9);
}


.modal-game-history .modal-content {
  
}

.modal-game-history .modal-header {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.modal-game-history .modal-body {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}