.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(3, 100px); 
  cursor: pointer;
  position: relative;
  align-items: center;
  grid-gap: 10px; 
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: #fff;
}

.board > * {
  border: 3px solid white; 
  width: 100%; 
  height: 100%; 
}


.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

